body {
    padding: 1em;
}

.title {
    font-family: Rancho;
    font-size: 4em;
    margin-bottom: 20px;
}

.messages {
    margin-bottom: 1em;
}

.message .time {
    font-size: 0.8em;
    color: #333;
    margin-right: 0.7em;
}

.message .nick {
    color: #000;
    font-weight: bold;
    margin-right: 0.7em;
}

.message .edit {
    margin-left: 0.5em;
    cursor: pointer;
    visibility: hidden;
}

.message:hover .edit {
    visibility: visible;
}

.entry input {
    margin-bottom: 0px;
}
