/* CSS declarations go here */

body {
    font-family: Helvetica-neue, helvetica, arial;
    padding: 1em;
}

.message {
}

.message .time {
    font-size: 0.8em;
    color: #333;
    margin-right: 0.7em;
}

.message .nick {
    color: #000;
    font-weight: bold;
    margin-right: 0.7em;
}

.message .edit {
    margin-left: 0.5em;
    cursor: pointer;
    visibility: hidden;
}

.message:hover .edit {
    visibility: visible;
}
